<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>You are 30 seconds away from earning your own money!</p>
      <input type="submit" name="" value="Login"/><br/>
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link " id="home-tab" data-toggle="tab" routerLink="/register" role="tab" aria-controls="home"
             aria-selected="false">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" routerLink="/register/customer" role="tab"
             aria-controls="profile" aria-selected="true">Customer</a>
        </li>
      </ul>
      <form class="register-customer" name="customer" #f="ngForm" (ngSubmit)="addCustomer()">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="register-heading">Register as a Customer</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" value=""/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name *" value=""/>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email *" value=""/>
                </div>
                <div class="form-group">
                  <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value=""/>
                </div>


              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value=""/>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password *" value=""/>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                    <option>What is your Birthdate?</option>
                    <option>What is Your old Phone Number</option>
                    <option>What is your Pet Name?</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="`Answer *" value=""/>
                </div>
                <button type="submit" class="btnRegister" >Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
