<div class="container">
  <!-- Branch menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-6">
      <input type="text"

             class="form-control"
             style="width: 100%;"
             placeholder="Search branches...">
    </div>
    <div class="col-md-6">
      <button type="buton"
              (click)="createBranch()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New branch
      </button>
      <button type="button"
              routerLink="/register"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New Employee
      </button>
      <button type="button"
              (click)="addCar()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New Car
      </button>
    </div>

  </div>

  <!-- Branch content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Branch Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <!-- Branch List -->
        <a *ngFor="let branch of branches; let i = index " (click)="visibleRow = i"
           class="list-group-item list-group-item-action">
          <i class="fa fa-home"></i>&nbsp;
          <input [(ngModel)]="branch.city" (change)="updateBranch(branch)" type="text" class="input-label"
                 style="width: 65%"/>
          <a (click)="editBranch()" class="-pull-right text-danger">
            <i class="fa fa-edit"></i>
          </a>
          <a (click)="deleteBranch(branch)" class="pull-right text-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <div [hidden]="visibleRow !== i " >
            <a (click)="selectEmployeesFromBranch(branch)" class="list-group-item list-group-item-action">Employees</a>
            <a href="#" class="list-group-item list-group-item-action">Cars</a>
          </div>
        </a>
      </div>
    </div>

    <!-- Car Panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no car -->

        </div>
      </div>
      <div class="row">
        <!-- Cars list -->
      </div>
    </div>
    <!-- Employee Panel -->
    <div class="col-md-9" *ngIf="selectedBranch != null">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no employee -->
          <h3 *ngIf="selectedBranch != null">{{selectedBranch.city}}</h3>
          <p *ngIf="this.employees.length === 0">There are no employees</p>
        </div>
      </div>
      <div class="row">
        <div   class="col-md-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Position</th>
              <th scope="col">Email</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
              <td> {{employee.id}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.secondName}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.email}}</td>
              <td><a (click)="deleteEmployee(employee)" class=" text-danger">
                <i class="fa fa-trash-o"></i>
              </a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
