<div class="container">
  <form class="form-signin" name="login" #f="ngForm" (ngSubmit)="f.form.valid && sendLogin()">
    <img class="mb-4" src="#" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
      <!-- Email -->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email"
             id="inputEmail"
             class="form-control"
             name="email"
             placeholder="Email address"
             required email autofocus
             [(ngModel)]="model.email"
             #email="ngModel"
             [ngClass]="{'is-invalid':f.submitted && email.invalid}"

      />
      <!-- input validation group -->
      <div *ngIf="f.submitted && email.invalid">
        <!-- individual validations errors -->
        <div *ngIf="email.errors?.required"> Field is required</div>
        <div *ngIf="email.errors?.email"> Field is not a valid email</div>
      </div>
    </div>
    <div class="form-group">
      <!-- Password -->
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password"
             id="inputPassword"
             class="form-control"
             name="password"
             placeholder="Password"
             required
             [(ngModel)]="model.password"
             #password="ngModel"
             [ngClass]="{'is-invalid':f.submitted && password.invalid}"/>
      <div *ngIf="f.submitted && password.invalid">
        <!-- individual validations errors -->
        <div *ngIf="password.errors?.required"> Field is required</div>

      </div>
    </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
    <p>If you haven't yet account please <a routerLink="/register">Register</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>
</div>
