<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <span class="text-warning">Fast Car</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/branches">Branches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Cars</a>
      </li>

    </ul>
{{isLogged}}
    <div *ngIf="isLogged" class="form-inline my-2 my-lg-0" id="logged-in">
      <p style="color: white">Witaj</p>
      <button class="btn btn-info pull-right" id="button-logout">Log Out</button>
    </div>
    <div *ngIf="!isLogged" class="form-inline my-2 my-lg-0" id="not-logged-in">

      <button class="btn btn-info pull-right" id="button-login" routerLink="/login">Login</button>

    </div>
  </div>
</nav>
