<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>You are 30 seconds away from earning your own money!</p>
      <input type="submit" name="" value="Login"/><br/>
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/register" role="tab"
             aria-controls="home" aria-selected="true">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink="/register/customer" target="_self"
             role="tab" aria-controls="profile" aria-selected="false">Customer</a>
        </li>
      </ul>
      <form class="register-employee" name="employee" #f="ngForm" (ngSubmit)="addEmployee()">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Register as a Employee</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" [(ngModel)]="employee.firstName" name="firstName" required/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name *" [(ngModel)]="employee.secondName" name="lastName" required/>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value=""/>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password *" value=""/>
                </div>
                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked>
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="female">
                      <span>Female </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" value=""/>
                </div>
                <div class="form-group">
                  <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                         placeholder="Your Phone *" value=""/>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option *ngFor="let branch of branches" value="{{branch.id}}">{{branch.city}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option *ngFor="let item of keys()" value="{{item}}">{{item}}</option>
                  </select>
                </div>
                <button type="submit" class="btnRegister" >Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
